.imgc{
width: 400px;
height: 500px;
margin: 20px;
margin-bottom: 20px;


}

.imggrid{
    display: flex;
    flex-direction:column;
}

  
@media (min-width: 800px) {
    .imggrid {
      
      justify-content: space-between;
      

    }
  }
  
      
h3,h4{
    color: white;
    font-size: 40px;
    
}



select {

  
  
  padding: 20px;
  margin-right:30px;
  margin-top:30px;
  width: 500px;
  color: white;
  background-color: #152238;
}